<div class="bl-blog-widget">
  <div class="bl-blog-widget-heading">
    <h3 class="bl-blog-widget-title">{{title}}</h3>
    <p class="bl-blog-widget-subtitle my-0">{{subtitle}}</p>
  </div>

  <div class="bl-blog-widget-body">
    {{#if (and items (gt items.length 0))}}
      {{#each (take limit items) as |item|}}
        <div class="bl-blog-widget-item">
          <h3 class="bl-blog-widget-item-title title">{{{item.title}}}</h3>
          <div class="bl-blog-widget-item-meta meta">
            <span class="bl-blog-widget-item-meta-author author pr-1">{{item.[dc:creator]}}</span>
            <span class="bl-blog-widget-item-meta-date date">{{date-helper date=item.pubDate format=dateFormat}}</span>
          </div>

          <div class="bl-blog-widget-item-content content">
            {{{truncate-html html=(replace-insecure-links content=item.[content:encoded] target=targetToSecure) length=length}}}
            {{#unless moreDisabled}}
              <p><a href={{item.link}} target="_blank">{{moreText}}</a></p>
            {{/unless}}
          </div>
        </div>
      {{/each}}
    {{else}}
      {{emptyText}}
    {{/if}}
  </div>
</div>

{{yield}}
