.bl-blog-widget {
  background: #FFF;
  border: 2px solid #E9E9E9;
  border-radius: 4px 4px;

  &-heading {
    background: #EEEFF1;
    padding: 10px;
  }

  &-body {
    padding: 15px 25px 15px 25px;
    max-height: 560px;
    overflow-y: scroll;
  }

  &-title {
    font-size: 16px;
    margin: 0 0 3px 0;
    color: #000;
  }

  &-subtitle {
    font-size: 11px;
    color: #818285;
  }

  &-item {
    color: #3a3a3a;
    font-size: 12px;
    border-bottom: 1px solid #656565;
    padding: 30px 0 0 0;

    &:last-of-type {
      border-bottom: 0;
    }

    &:first-of-type {
      padding-top: 0;
    }

    h3 {
      margin-top: 0;
      color: #362d68;
      font-size: 16px;
    }

    .meta {
      color: #AAA;
      font-size: 11px;
      margin-bottom: 15px;
    }

    .content {
      overflow: hidden;
    }

    img {
      display: none;
    }

    p:first-of-type > a:first-of-type > img {
      display: inline;
      float: right;
      height: auto;
      max-width: 35%;
      max-height: 100%;
      padding: 0 0 15px 15px;
    }
  }
}
