<div class="blog-widget-container">
  {{blog-rss-widget
    title='Mosaic Learning Blog'
    subtitle='The latest news for Mosaic Learning Developers'
    moreText='(MORE...)'
    length=400
    limit=5
    items=model.items
  }}
</div>

{{outlet}}
